<!DOCTYPE html>

{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}
{% block content %}

    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-12 col-lg-12">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">

                    <form id="patient-image-form" method="POST">
                        {% csrf_token %}
                        <div class="pl-lg-4">
                            <div class="row">
                              <div class="col-lg-2">
                                <div class="form-group">
                                  {{ patient.name }}
                                  <label class="form-control-label" for="name">的检测详情</label>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="pl-lg-4">
                          <div class="row">
                            <div class="col-lg-8">
                              <div class="form-group">
                                <label class="form-control-label" for="result">检测结果：</label>
                                  {{ image_result }}
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="symptom">分割结果：</label>
                                </div>
                              </div>
                          </div>
                          <div class="table-responsive">
                              <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                  <tr>
                                    <th scope="col">原图</th>
                                    <th scope="col">MA</th>
                                    <th scope="col">EX</th>
                                    <th scope="col">HE</th>
                                    <th scope="col">SE</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>
                                      <img style="width: 150px; height:150px;" src="/static/assets/fundus_images/IDRiD_05.jpg" />
                                    </td>
                                    <td>
                                      <img style="width: 150px; height:150px;" src="/static/assets/fundus_images/IDRiD_05_MA.png" />
                                    </td>
                                    <td>
                                      <img style="width: 150px; height:150px;" src="/static/assets/fundus_images/IDRiD_05_EX.png" />
                                    </td>
                                      <td>
                                      <img style="width: 150px; height:150px;" src="/static/assets/fundus_images/IDRiD_05_HE.png" />
                                    </td>
                                      <td>
                                      <img style="width: 150px; height:150px;" src="/static/assets/fundus_images/IDRiD_05_SE.png" />
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                          </div>

                        </div>

                      </form>

                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
    let forms = document.querySelector("#patientcase-form").querySelectorAll("input")
    for(let form of forms){
        form.classList.add("form-control")
    }
    document.querySelector("#patientcase-form").querySelector("select").classList.add("form-control")
    document.querySelector("#patientcase-form").querySelector("textarea").classList.add("form-control")
</script>
{% endblock javascripts %}
